<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
     <!--<add name="ArtluxSAE" connectionString="User ID = sysdba; Password = masterkey; Database = 'localhost:C:\Users\ericg\Documents\Proyecto D2D\EJEMPLOS.FDB'; DataSource = localhost; Charset = NONE; "/>-->
	 <add name="ArtluxSAE" connectionString="User ID = sysdba; Password = masterkey; Database = 'localhost:C:\Users\ericg\Documents\Proyecto D2D\SAE70EMPRE01.FDB'; DataSource = localhost; Charset = NONE; "/>
  </connectionStrings>
  <appSettings>
    <add key="NumEmpresaSAE" value="01"/>
    <add key="RutaDestino" value="C:\Users\ericg\Documents\ArtluxASN-master\ArtluxASN-master\GeneradorASNWin\bin\Debug"/>
    <add key="ArchivoEjecucionNombre" value="RegistroGeneradorASN-"/>
    <add key="ArchivoEjecucionFormatoFecha" value="yyyyMMdd-HHmmss"/>
    <add key="CorreoSoporte" value="lhernandez@expansioncorporativa.com"/>
    <add key="ClaveCliente" value="N0031"/>    <!--La clave 'ClaveCliente' debera soportar mas de una clave de cliente separada por comas-->
  </appSettings>
</configuration>